<div class="wrapper">

    <div class="row">
        <div class="col-12">
            <h1>Estadísticas</h1>
        </div>
    </div>
    <hr>

    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Ingresos y pagos por mes del año actual
                </div>
                <div class="card-body">
                    <p-chart *ngIf="data; else noActualYear" type="bar" [data]="data" width="300"
                        height="300" [options]="options"></p-chart>
                    <ng-template #noActualYear>
                        No existen pagos ni ingresos en el año actual para generar estadísticas
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-xl-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Ganancias/Gastos
                </div>
                <div class="card-body">
                    <p-chart *ngIf="data2; else noExpensesAndProfits" type="doughnut" [data]="data2" width="300"
                        height="300" [options]="options"></p-chart>
                    <ng-template #noExpensesAndProfits>
                        No existen pagos ni ingresos para generar estadísticas
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6 mt-4 mt-xl-0">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Gastos con mayor dinero invertido
                </div>
                <div class="card-body">
                    <p-chart *ngIf="data3?.labels.length > 0; else noExpenses" type="doughnut" [data]="data3"
                        width="300" height="300" [options]="options"></p-chart>
                    <ng-template #noExpenses>
                        No existen gastos para generar estadísticas
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

</div>