<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Buenas prácticas</h1>
        </div>
    </div>
    <hr>

    <div class="card mt-3">
        <div class="card-header bg-primary text-white">
            Buscador de buenas prácticas
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="palabraClave">Palabra clave</label>
                                <input type="text" class="form-control form-control-user" id="palabraClave"
                                    formControlName="palabraClave">
                            </div>
                            <div class="col-6 form-group">
                                <label for="porcentaje">Porcentaje</label>
                                <input type="text" class="form-control form-control-user" id="porcentaje"
                                    formControlName="porcentaje">
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12 text-right mt-2">
                                <button [disabled]="loading" type="button" (click)="search()" class="btn btn-primary mr-1">
                                    <i class="fas" [ngClass]="{'fa-search': !loading, 'fa-spinner fa-spin': loading}"
                                        aria-hidden="true"></i>
                                    <span> Buscar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-white">
            Listado de buenas prácticas
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p-table [columns]="cols" [value]="goodPractices" [paginator]="true" [rows]="10" [responsive]="true"
                        (onLazyLoad)="customSort($event)" [lazy]="true" [totalRecords]="totalRecords">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td>
                                    {{rowData['palabra_clave']}}
                                </td>
                                <td>
                                    {{rowData['porcentaje']}}
                                </td>
                                <td>
                                    {{rowData['id_usuario'].nombre}}
                                </td>
                                <td>
                                    {{rowData['created_at'] | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{rowData['updated_at'] | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    <button type="button" (click)="onRowSelect(rowData['id'])"
                                        class="btn btn-secondary mr-1">
                                        <span><i class="fas fa-edit" aria-hidden="true"></i></span>
                                    </button>
                                    <button type="button" (click)="confirm(rowData['id'])"
                                        class="btn btn-secondary mr-1">
                                        <span><i class="fas fa-trash" aria-hidden="true"></i></span>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" let-rowData>
                            <div style="text-align:left">
                                <button type="button" pButton icon="pi pi-plus" (click)="add()" label="Añadir"></button>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}" [acceptLabel]="'Sí'"></p-confirmDialog>
</div>