.fixed-row {
    background-color: #46545c;
}

.resource-row {
    background-color: rgb(240, 177, 83);
}

input, input:focus {
    background: #f0b153;
    text-align: center;
    border: none !important;
    box-shadow: none;
}