<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Detalle ganancia</h1>
        </div>
    </div>
    <hr>

    <div class="row" *ngIf="!profit">
        <img src="assets/notfound.png" class="d-block mx-auto img-not-found" alt="No existen resultados">
    </div>

    <div class="card" *ngIf="profit">
        <div class="card-header bg-primary text-white">
            Diseñador ganancia
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control form-control-user" id="nombre"
                                    formControlName="nombre">
                                <div *ngIf="form.controls.nombre.invalid && (form.controls.nombre.dirty || form.controls.nombre.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="form.controls.nombre.errors.required">
                                        El nombre es obligatorio
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <label for="id_tipo_ganancia">Tipo de ganancia</label>
                                <p-dropdown [options]="typesProfit" formControlName="id_tipo_ganancia"
                                    placeholder="Seleccione tipo de ganancia" optionLabel="valor" [showClear]="true"
                                    (onChange)="changeTypeProfit($event)">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <span>{{item.label}}</span>
                                    </ng-template>
                                    <ng-template let-tipo pTemplate="item">
                                        <span pTooltip="{{tipo.value.descripcion}}"
                                            tooltipPosition="top">{{tipo.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="form.controls.id_tipo_ganancia.invalid && (form.controls.id_tipo_ganancia.dirty || form.controls.id_tipo_ganancia.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="form.controls.id_tipo_ganancia.errors.required">
                                        El tipo de ganancia es obligatorio
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12 text-right mt-2">
                                <button [disabled]="form.pristine || form.invalid" type="button" (click)="save()"
                                    class="btn btn-primary mr-1">
                                    <span *ngIf="newProfit"> <i class="fas fa-plus" aria-hidden="true"></i>
                                        Añadir</span>
                                    <span *ngIf="!newProfit"> <i class="fas fa-edit" aria-hidden="true"></i>
                                        Editar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3" *ngIf="profit && profit.id">
        <div class="card-header bg-primary text-white">
            Listado de ingresos
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p-table [columns]="cols" [value]="profit.ingresos" [paginator]="true" [rows]="5"
                        [responsive]="true" [lazy]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td>
                                    {{rowData['cantidad']}}
                                </td>
                                <td>
                                    {{rowData['fecha'] | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    <button *ngIf="!isMonthly" type="button" (click)="onRowSelect(rowData['id'])"
                                        class="btn btn-secondary mr-1">
                                        <span><i class="fas fa-edit" aria-hidden="true"></i></span>
                                    </button>
                                    <button *ngIf="!isMonthly" type="button" (click)="confirm(rowData['id'])"
                                        class="btn btn-secondary mr-1">
                                        <span><i class="fas fa-trash" aria-hidden="true"></i></span>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" let-rowData>
                            <div *ngIf="!isMonthly" style="text-align:left">
                                <button type="button" pButton icon="pi pi-plus" (click)="add()" label="Añadir"></button>
                            </div>
                            <div *ngIf="isMonthly" class="text-center">
                                Los ingresos mensuales se gestionan en la pantalla de Plantillas
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 text-right">
            <button type="button" (click)="back()" class="btn btn-secondary mr-1">
                <span><i class="fas fa-arrow-left" aria-hidden="true"></i> Volver</span>
            </button>
        </div>
    </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>