<div class="row">
    <div class="col-12">
        <h1>Ganancias</h1>
    </div>
</div>
<hr>
<p-accordion>
    <p-accordionTab header="Búsqueda">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-6 col-md-3">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="col-6 col-md-3">
                    <input type="text" class="form-control form-control-user" id="nombre" formControlName="nombre">
                </div>
                <div class="col-6 col-md-3">
                    <label for="nombre">Apellidos</label>
                </div>
                <div class="col-6 col-md-3">
                    <p-dropdown [options]="typesProfit" formControlName="id_tipo_ganancia"
                        placeholder="Seleccione tipo de ganancia" optionLabel="valor" [showClear]="true">
                    </p-dropdown>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12 text-right mt-2">
                    <button type="button" (click)="search()" class="btn btn-primary mr-1">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <span> Buscar</span>
                    </button>
                </div>
            </div>
        </form>
    </p-accordionTab>
</p-accordion>
<div class="row mt-2">
    <div class="col-12">
        <p-table [columns]="cols" [value]="profits" [paginator]="true" [rows]="10" [responsive]="true"
            (onLazyLoad)="customSort($event)" [lazy]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td>
                        {{rowData['nombre']}}
                    </td>
                    <td>
                        {{rowData['fecha_fin'] | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{rowData['id_tipo_ganancia'].valor}}
                    </td>
                    <td>
                        {{rowData['created_at'] | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{rowData['updated_at'] | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                        <button type="button" (click)="onRowSelect(rowData['id'])" class="btn btn-secondary mr-1">
                            <span><i class="fas fa-edit" aria-hidden="true"></i></span>
                        </button>
                        <button type="button" (click)="confirm(rowData['id'])" class="btn btn-secondary mr-1">
                            <span><i class="fas fa-trash" aria-hidden="true"></i></span>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" pButton icon="pi pi-plus" (click)="add()" label="Añadir"></button>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>