<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Escritorio</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 mt-3 mt-xl-0">
            <div class="card card-data h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cuenta Gastos</div>
                        </div>
                        <div class="col-auto">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{expenses}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mt-3 mt-xl-0">
            <div class="card card-data h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cuenta Ahorros</div>
                        </div>
                        <div class="col-auto">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{savings}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mt-3 mt-xl-0">
            <div class="card card-data h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total de gastos
                                pagados
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{percentage}}%</div>
                            <div class="mt-2 progress">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percentage + '%'}"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Recordatorios Mensuales
                </div>
                <div class="card-body">
                    <div *ngIf="unpaid.length > 0; else noAnnualReminders">
                        <div class="alert alert-secondary text-dark" role="alert" *ngFor="let payment of unpaid">
                            El pago con nombre <a
                                (click)="editTemplate(payment.plantilla_id.id)"><strong>{{payment.gasto_id.nombre}}</strong></a>
                            del mes de {{getMonth(payment.plantilla_id.mes)}} de {{payment.plantilla_id.anno}}
                            aún no se ha pagado
                        </div>
                    </div>
                    <ng-template #noAnnualReminders>
                        No existen recordatorios
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Recordatorios Anuales
                </div>
                <div class="card-body">
                    <div *ngIf="annualReminders.length > 0; else noAnnualReminders">
                        <div class="alert alert-secondary text-dark" role="alert"
                            *ngFor="let annualReminder of annualReminders">
                            <span [innerHTML]="annualReminder"></span>
                        </div>
                    </div>
                    <ng-template #noAnnualReminders>
                        No existen recordatorios
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>