<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h1 *ngIf="template">Plantilla {{getMonth(template.mes)}} {{template.anno}}</h1>
            <h1 *ngIf="!template">Plantilla</h1>
        </div>
    </div>
    <hr>

    <div class="row" *ngIf="!template && !loading">
        <img src="./assets/notfound.png" class="d-block mx-auto img-not-found" alt="No existen resultados">
    </div>

    <div class="card" *ngIf="template">
        <div class="card-header bg-primary text-white">
            Gestor de recursos
        </div>
        <div class="card-body">
            <div class="row mt-3">
                <div class="form-group col-12 col-md-6">
                    <label for="exampleInputPassword1">Tipo de recurso</label>
                    <p-dropdown [options]="types" optionLabel="name" (onChange)="selectResource($event)">
                    </p-dropdown>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="exampleInputPassword1">Recurso</label>
                    <p-dropdown [options]="resources" optionLabel="nombre" [(ngModel)]="selectedResource"
                        placeholder="Elige el recurso...">
                    </p-dropdown>
                </div>
                <div *ngIf="!isProfit" class="form-group offset-md-6 col-12 col-md-3">
                    Si desea añadir un nuevo gasto acceda <a [routerLink]="['/home/expenses/new']">gastos</a>
                </div>
                <div *ngIf="isProfit" class="form-group offset-md-6 col-12 col-md-3">
                    Si desea añadir una nueva ganancia acceda <a [routerLink]="['/home/profits/new']">ganancias</a>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 text-right">
                    <button type="button" (click)="addResouce()"
                        [disabled]="!selectedResource || selectedResource === ''" class="btn btn-primary">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                        <span> Añadir recurso</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3" *ngIf="template">
        <div class="card-header bg-primary text-white">
            Plantilla
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    La plantilla se gestiona de forma automática a través del método 50/30/20 <a (click)="openInfo()"><i
                            class="fas fa-question-circle"></i></a>.
                </div>
            </div>
            <div class="row mx-1 mt-3 d-none d-md-flex">
                <div class="col-12 col-md-4 p-2 text-center border border-dark">
                    Nombre
                </div>
                <div class="col-12 col-md-4 p-2 text-center border border-dark">
                    Valor
                </div>
                <div class="col-12 col-md-4 p-2 text-center border border-dark">
                    Opciones
                </div>
            </div>
            <div class="row mx-1 text-white">
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    Ingresos
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    {{revenues}}
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark d-none d-md-block">
                </div>
            </div>
            <div class="row mx-1" *ngFor="let ingreso of template.ingresos">
                <div
                    class="resource-row col-12 col-md-4 text-center border border-dark d-flex justify-content-center align-items-center py-2 py-md-0">
                    {{ingreso.ganancia_id.nombre}}
                </div>
                <div class="resource-row col-12 col-md-4 text-center border border-dark py-2 py-md-0">
                    <input type="textbox" (input)="calculate()" class="form-control form-control-user"
                        [(ngModel)]="ingreso.cantidad" placeholder="XX.XX" appTwoDigitDecimaNumber>
                </div>
                <div class="resource-row col-12 col-md-4 text-center border border-dark border-left-0 py-2 py-md-0">
                    <button type="button" (click)="deleteRevenue(ingreso.id)" class="btn btn-primary btn-sm mt-1">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="row mx-1 text-white">
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    Disponible Gastos primarios
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    {{primaryExpenses}}
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark d-none d-md-block">
                </div>
            </div>
            <div *ngFor="let pago of template.pagos">
                <div class="row mx-1" *ngIf="pago.gasto_id.id_tipo_gasto.valor === 'Mensuales Primarios'">
                    <div
                        class="resource-row col-12 col-md-4 text-center border border-dark d-flex justify-content-center align-items-center py-2 py-md-0">
                        {{pago.gasto_id.nombre}}
                    </div>
                    <div class="resource-row col-12 col-md-4 text-center border border-dark py-2 py-md-0">
                        <input type="textbox" (input)="calculate()" class="form-control form-control-user"
                            [(ngModel)]="pago.cantidad" placeholder="XX.XX" appTwoDigitDecimaNumber>
                    </div>
                    <div
                        class="resource-row col-6 col-md-2 text-center border border-dark border-right-0 d-flex justify-content-center align-items-center py-2 py-md-0">
                        <p-checkbox [(ngModel)]="pago.pagado" name="groupname" binary="true" label="Pagado">
                        </p-checkbox>
                    </div>
                    <div
                        class="resource-row col-6 col-md-2 primary-expense-item text-center border border-dark border-left-0 py-2 py-md-0">
                        <button type="button" (click)="deletePayment(pago.id)" class="btn btn-primary btn-sm mt-1">
                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mx-1 text-white">
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    Disponible Gastos secundarios
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    {{secondaryExpenses}}
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark d-none d-md-block">
                </div>
            </div>
            <div *ngFor="let pago of template.pagos">
                <div class="row mx-1" *ngIf="pago.gasto_id.id_tipo_gasto.valor === 'Mensuales Secundarios'">
                    <div
                        class="resource-row col-12 col-md-4 text-center border border-dark d-flex justify-content-center align-items-center py-2 py-md-0">
                        {{pago.gasto_id.nombre}}
                    </div>
                    <div class="resource-row col-12 col-md-4 text-center border border-dark py-2 py-md-0">
                        <input type="textbox" (input)="calculate()" class="form-control form-control-user"
                            [(ngModel)]="pago.cantidad" placeholder="XX.XX" appTwoDigitDecimaNumber>
                    </div>
                    <div
                        class="resource-row col-6 col-md-2 text-center border border-dark border-right-0 d-flex justify-content-center align-items-center py-2 py-md-0">
                        <p-checkbox [(ngModel)]="pago.pagado" name="groupname" binary="true" label="Pagado">
                        </p-checkbox>
                    </div>
                    <div class="resource-row col-6 col-md-2 text-center border border-dark border-left-0">
                        <button type="button" (click)="deletePayment(pago.id)" class="btn btn-primary btn-sm mt-1">
                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mx-1 text-white">
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    Ahorros esperados
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    {{promiseSavings}}
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark d-none d-md-block">
                </div>
            </div>
            <div class="row mx-1 text-white">
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    Ahorros reales
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark">
                    {{realSavings}}
                </div>
                <div class="fixed-row col-12 col-md-4 p-2 text-center border border-dark d-none d-md-block">
                </div>
            </div>
            <div class="row mt-3 text-right">
                <div class="col-12">
                    <button type="button" (click)="save()" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        <span> Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3" *ngIf="template">
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Tips
                </div>
                <div class="card-body">
                    <div *ngIf="tips?.length > 0; else noTips">
                        <div *ngFor="let tip of tips" class="alert text-dark"
                            [ngClass]="{'alert-success': tip.status, 'alert-danger': !tip.status}" role="alert">
                            {{tip.message}}
                        </div>
                    </div>
                    <ng-template #noTips>
                        <div class="alert alert-secondary" role="alert">
                            Debes añadir ingresos o gastos para recibir tips.
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Buenas prácticas
                </div>
                <div class="card-body">
                    <div *ngIf="goodPracticesUsed?.length > 0; else noGoodPractice">
                        <div *ngFor="let goodPracticeUsed of goodPracticesUsed" class="alert text-dark"
                            [ngClass]="{'alert-success': goodPracticeUsed.status, 'alert-danger': !goodPracticeUsed.status}"
                            role="alert">
                            {{goodPracticeUsed.message}}
                        </div>
                    </div>
                    <ng-template #noGoodPractice>
                        <div class="alert alert-secondary" role="alert">
                            No existen buenas prácticas que aplicar
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 text-right">
        <div class="col-12">
            <button type="button" (click)="back()" class="btn btn-primary">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                <span> Volver</span>
            </button>
        </div>
    </div>

</div>

<p-dialog header="Método 50/30/20" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    Este método de ahorro consiste en:
    <ul>
        <li>El 50% de los ingresos destinados para gastos primarios, es decir, aquellos primordiales todos los meses
        </li>
        <li>El 30% de los ingresos destinados para gastos secundarios, es decir, aquellos como caprichos o gastos del
            día a día</li>
        <li>El 20% de los ingresos destinados para ahorros</li>
    </ul>
    De esta forma, la aplicación se encarga de gestionar tus ingresos y pagos de cada mes.
</p-dialog>