<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Tipos de ganancias</h1>
        </div>
    </div>
    <hr>

    <div class="card mt-3">
        <div class="card-header bg-primary text-white">
            Buscador de tipos de ganancias
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12 col-md-6 form-group">
                                <label for="valor">Valor</label>
                                <input type="valor" class="form-control form-control-user" id="valor"
                                    formControlName="valor">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="descripcion">Descripción</label>
                                <input type="descripcion" class="form-control form-control-user" id="descripcion"
                                    formControlName="descripcion">
                            </div>
                            <div class="col-12 text-right mt-2">
                                <button [disabled]="loading" type="button" (click)="search()"
                                    class="btn btn-primary mr-1">
                                    <i class="fas" [ngClass]="{'fa-search': !loading, 'fa-spinner fa-spin': loading}"
                                        aria-hidden="true"></i>
                                    <span> Buscar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-white">
            Listado de tipos de ganancias
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p-table [columns]="cols" [value]="typesProfit" [paginator]="true" [rows]="10" [responsive]="true"
                        (onLazyLoad)="customSort($event)" [lazy]="true" [totalRecords]="totalRecords">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td>
                                    <span class="ui-column-title">Valor</span>
                                    {{rowData['valor']}}
                                </td>
                                <td>
                                    <span class="ui-column-title">Descripción</span>
                                    {{rowData['descripcion']}}
                                </td>
                                <td>
                                    <button *ngIf="checkProperty(rowData['id_usuario'])" type="button"
                                        (click)="onRowSelect(rowData['id'])" class="btn btn-secondary mr-1">
                                        <span><i class="fas fa-edit" aria-hidden="true"></i></span>
                                    </button>
                                    <button *ngIf="checkProperty(rowData['id_usuario'])" type="button"
                                        (click)="confirm(rowData['id'])" class="btn btn-secondary mr-1">
                                        <span><i class="fas fa-trash" aria-hidden="true"></i></span>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" let-rowData>
                            <div style="text-align:left">
                                <button type="button" pButton icon="pi pi-plus" (click)="add()" label="Añadir"></button>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>