<div class="row">
    <div class="col-12">
        <h1>Estadísticas</h1>
    </div>
</div>
<hr>
<div class="row text-center">
    <div class="col-12 col-lg-6">
        <h3>Ingresos y ahorros por mes</h3>
        <p-chart type="bar" [data]="data" width="300" height="300" [options]="options"></p-chart>
    </div>
    <div class="col-12 col-lg-6 mt-3 mt-lg-0">
        <h3>Gastos del mes</h3>
        <p-chart type="doughnut" [data]="data2" width="300" height="300" [options]="options"></p-chart>
    </div>
</div>
