<div class="wrapper">

    <div class="row">
        <div class="col-12">
            <h1>Estadísticas</h1>
        </div>
    </div>
    <hr>

    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Ingresos y pagos por mes del año actual
                </div>
                <div class="card-body">
                    <p-chart type="bar" [data]="data" width="300" height="300" [options]="options"></p-chart>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Ganancias/Pagos
                </div>
                <div class="card-body">
                    <p-chart type="doughnut" [data]="data2" width="300" height="300" [options]="options"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Gastos
                </div>
                <div class="card-body">
                    <p-chart type="doughnut" [data]="data3" width="300" height="300" [options]="options"></p-chart>
                </div>
            </div>
        </div>
    </div>
    
</div>