$primary: #344955;
$secondary: #F9AA33;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);
@import '../node_modules/bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #F7F8FB;
}

.border-3 {
    border-width: 3px !important;
}

.border-6 {
    border-width: 6px !important;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.ui-dropdown {
    width: 100%;
}

.ui-button {
	background-color: $primary !important;
    color: white !important;
    border-color: white !important;
}

.ui-selectbutton > .ui-state-active {
    background-color: $secondary !important;
    color: black !important;
    border-color: white !important;
}

.ui-accordion-header a, .ui-accordion-header span {
    background-color: $primary !important;
    color: white !important;
}

.ui-state-active {
    background-color: $primary !important;
    color: white !important;
    border-color: white !important;
}

td {
    word-wrap: break-word;
}

.ui-calendar, .ui-inputtext {
    width: 100%;
}

.wrapper {
    margin: auto 50px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: auto 30px;
    }
}

@media screen and (max-width: 425px) {
    .wrapper {
        margin: auto 20px;
    }
}

.img-not-found {
    max-width: 100%;
    height: auto;
}